<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TERRA NOVA</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/destination.css">
    <link rel="stylesheet" href="sweetalert2.min.css">
</head>
<body>
<div id="overlayWrapper">
    <div id="overlay">
        Hello there
    </div>
</div>

<script>

    function showPopup() {
        document.getElementById("overlayWrapper").style.display = "block";

    }
    function closePopup() {
        document.getElementById("overlayWrapper").style.display = "none";

    }

</script>
<div class="BG">
    <div id="abc">
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/destinations">DESTINATIONS</a></li>
                <li><a href="/users/<%= user.id %>">USER</a></li>
            </ul>
        </nav>
    </div>
</div>
<div class="card">
    <div class="left">
        <img id="planetImage" src="<%= destination.planet %>" alt="ciri">
    </div>
    <div class="right">
        <div class="product-info">
            <h1><%= destination.name %></h1>
            <h2>ABOUT</h2>
            <p><%= destination.context %></p>
        </div>
    </div>
</div>
<div id="container">
    <div class="photobanner">
        <img class="first" src="<%= destination.image2 %>" alt="" />
        <img src="<%= destination.image1 %>" alt="" />
        <img src="<%= destination.image2 %>" alt="" />
        <img src="<%= destination.image3 %>" alt="" />
        <img src="<%= destination.image4 %>" alt="" />
        <img src="<%= destination.image5 %>" alt="" />
        <img src="<%= destination.image1 %>" alt="" />
        <img src="<%= destination.image2 %>" alt="" />
        <img src="<%= destination.image3 %>" alt="" />
        <img src="<%= destination.image4 %>" alt="" />
    </div>
</div>
<div class="plus">
    <h1 id="humanPop" > HUMAN POPULATION</h1>
    <h2 ><%= destination.humanPop %></h2>
    <br><br>
    <h1 ><%= destination.alienPop %></h1>
    <h2 >400</h2>
    <br><br>
    <h1 >OXYGEN LEVEL</h1>
    <h2 >50%</h2>
    <br>
    <br>
</div>
<div class="parentElement">
    <a class="btn btn-default btn-work" href="/confirmation/<%= destination.id %>">SELECT DESTINATION</a>
</div>
<footer></footer>
</body>
</html>